      <div class="row">
        <div style= "text-align: center;" class="small-11 small-centered columns">
          <div class="panel">
            <h1>The Wave</h1>
          </div>
        </div>
      </div>