        <div class="large-3 columns ">
          <div class="panel">
            <a href="#"><img src="http://placehold.it/300x240&text=[img]"/></a>
            <h5><a href="#">SECCIONES</a></h5>
              <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
              <section class="section">
                <h5 class="title"><a href="#">Novedades</a></h5>
              </section>
              <section class="section">
                <h5 class="title"><a href="#">Camisetas</a></h5>
              </section>
              <section class="section">
                <h5 class="title"><a href="#">Sudaderas</a></h5>
              </section>
              <section class="section">
                <h5 class="title"><a href="#">Gorras</a></h5>
              </section>
              <section class="section">
                <h5 class="title"><a href="#">Accesorios</a></h5>
              </section>
            </div>
     
          </div>
        </div>